faiss-cpu
fastapi
httpx
Jinja2
matplotlib
nltk
numpy
openai
pix2text
pypdf
python-multipart
rank_bm25
Requests
rouge_score
sentence_transformers
tomli
torch
tqdm
transformers
pytest
uvicorn[standard]
websockets
